:root {
  --font: "Epilogue", sans-serif;
  --color-grey: #464b4f;
  --color-white-light: rgba(255, 255, 255, 0.3);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body,
html {
  min-height: 100%;
  width: 100%;
}

.clear::after,
.clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

/* Main Styles */

html {
  scroll-behavior: smooth;
}

body {
  font: 30px var(--font);
  color: var(--color-grey);
  /* color: var(--color-grey); */
}

.header {
  min-height: 100vh;
  background: url(../images/header.jpg) no-repeat top center;
  background-size: cover;
  text-align: center;
  padding-top: 80px;
  color: #fff;
  padding-bottom: 50px;
}

.logo {
  /* margin-top: 80px; */
  margin-bottom: 180px;
}

.logo img {
  height: 135px;
  border-radius: 50%;
  transition: all 0.5s;
}

.logo img:hover {
  background-color: var(--color-white-light);
}

.header h1 {
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.header p {
  margin: 0 auto;
  width: 455px;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 185px;
}

.header .down {
  margin: 0 auto;
  width: 35px;
  height: 35px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.header .down:hover {
  background-color: var(--color-white-light);
}

.header .down img {
  display: block;
}

main {
  min-height: 100vh;
  background: url(../images/bg.png) no-repeat top center;
  background-size: cover;
  text-align: center;
  padding: 130px;
}

.about .about_title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.about .about_description {
  margin: 0 auto;
  margin-bottom: 125px;
  width: 860px;
  font-weight: 300;
}

.skills .skills_title {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 110px;
}

.skills h3 {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.skills .skills_about {
  font-size: 18px;
  line-height: 30px;
  color: #a8a9aa;
  text-align: left;
}
